@font-face {
    font-family: "BigJohn";
    src: url("./assets/fonts/BigJohnPRO-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "BigJohn";
    src: url("./assets/fonts/BigJohnPRO-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    background-color: #262523;
    font-family: "BigJohn";
    margin: 0px;
}

@media (max-width: 500px) {
    .logo {
        width: fit-content;
        margin-bottom: 20px;
    }
}

@media (min-width: 500px) {
    .logo {
        width: 30%;
        margin-bottom: 20px;
    }
}

.title {
    text-align: center;
    color: #FFAA00;
}

form {
    text-align: center;
    color: #FFAA00;
}

#navn {
    width: 230px;
}

#klasse {
    width: 230px;
}

#problem {
    width: 230px;
}

.submit {
    background-color: #FFAA00;
    color: #262523;
    border: none;
    text-decoration: none;
    font-family: "BigJohn";
    width: 240px;
    height: 50px;
    margin-bottom: 20px;
}

.logocenter {
    text-align: center;
}

.hjelp {
    text-align: center;
    color: #FFAA00;
    font-family: "BigJohn";
}