@font-face {
    font-family: "BigJohn";
    src: url("./assets/fonts/BigJohnPRO-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "BigJohn";
    src: url("./assets/fonts/BigJohnPRO-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    background-color: #262523;
    font-family: "BigJohn";
    margin: 0px;
    padding: 0px;
}

@media (max-width: 500px) {
    .logo {
        width: fixed;
      
    }
}

@media (min-width: 500px) {
    .logo {
        width: 114px;
    }
}

form {
    text-align: center;
    color: #FFAA00;
}

input, textarea {
    font-family: "BigJohn";
    font-size: medium;
    background-color:#262523;
    color: #FFAA00;
    width: 230px;
    border: 2px solid;
    border-color: #FFAA00;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    border: 4px solid #FFAA00;
    outline: none;
}

::placeholder {
    font-family: "BigJohn";
    font-size: medium
}

.submit {
    background-color: #FFAA00;
    color: #262523;
    text-decoration: none;
    font-family: "BigJohn";
    font-size: medium;
    font-weight: bold;
    width: 240px;
    height: 50px;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.hjelp {
    text-align: center;
    color: #FFAA00;
    font-family: "BigJohn";
}

table {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 75%;
    border: 2px solid #FFAA00;
    border-radius: 5px;
    color: #FFAA00;
    
}

th {
    text-align: left;
    border-right: 1px solid #FFAA00;
    padding: 10px;
}

td {
    text-align: left;
    border: 1px solid #FFAA00;
    border-radius: 5px;
    padding: 4px;
    padding-right: 10px;
}

/*header*/

.nav__wrapper{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.nav__item {
    float: left;
  }
  
.nav__item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.nav__item a:hover {
    background-color: #111;
}
  
  /* Change the link color to #111 (black) on hover */

  
h1 {
    color: white;
    text-align: center;
}

.QandA {
    color:  #FFAA00;
    text-align: center;
}

.nav__logo {
    float: left;
  }
  
.nav__logo a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
.nav__logo a:hover {
    background-color: #111;
}

.parallelogram {
	width: 800px;
	height: 47px;
	transform: skew(20deg);
	background: #FFAA00;
    float: right;
}

.rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
    float: left;
  }